// main header
.live-feed-1{
    .live-feed-items{
        .twitter-logo{
            height: 50%;
            width: 50%;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
